.f-left {
	float: left;
}
.f-right {
	float: right;
}

/*header*/

.header {
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 1;
	height: 100px;
}
.logo {
	margin-left: 98px;
	margin-top: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 103px;
}
.li {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	float: right;
	color: #3D58A6;
	margin-right: 31px;

}
.navigation {
	vertical-align: middle;
	display: inline-block;
	margin-top: 20px;
}
.div1 {
	background-color: #E6E6E6;
	height: 610px;
	width: 1366px;
	padding-top: 125px;

}
.ul :: after {
	content: '';
	clear: both;
} 

/*section1*/

.img1 {
	padding-left: 98px;
}
.divrelative {
	position: relative;
	width: 1170px;
}
.paragraph {
	position: absolute;
	left: 130px;
	bottom: 90px;
	width: 339px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}
.text-OR {
	position: absolute;
	left: 130px;
	bottom: 60px;
	width: 339px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}
.whitetext {
	position: absolute;
	left: 130px;
	bottom: 30px;
	width: 339px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

/*section2*/
.div2 {
	position: relative;
	background-color: #363E97;
	width: 1366px;
	height: 500px;
}
.title2 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: white;
	position: absolute;
	left: 99.54px;
	top: 29.97px;
}
.whiteboxleft {
	width: 570px;
	height: 320px;
	background-color: white;
	margin-top: 89.75px;
	margin-left: 98px;
}
.whiteboxright {
	width: 570px;
	height: 320px;
	background-color:  white;
	margin-top: 89.75px;
	margin-left: 30px;
}

/*section3*/
.div3 {
	background-color: #BDCCD4;
	height: 450px;
	position: relative;
	width: 1366px;
}
.title3 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #3D58A6;
	position: absolute;
	left: 99.54px;
	top: 29.97px;
}
.newsdiv1 {
	margin-left: 98px;
	margin-top: 90.25px;
	background-color: #E6E6E6;
	height: 270px;
	width: 270px;
	position: relative;
}
.newstext {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #333333;
	position: absolute;
	left: 14px;
	bottom: 17px;
}
.newsdiv2 {
	margin-left: 30px;
	margin-top: 90.25px;
	background-color: #E6E6E6;
	height: 270px;
	width: 270px;
	position: relative;
}

/*section4*/

.div4 {
	width: 1366px;
	background-color: #E6E6E6;
	height: 345.46px;
	position: relative;
}
.div4left {
	background-color: #F2F2F2;
	height: 225px;
	width: 570px;
	position: relative;
	top: 89.75px;
	left: 98px;
}

.FEATURED {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: black;
	position: absolute;
	left: 99.54px;
	top: 29.97px;
}
.title4 {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: #3D58A6;
	position: absolute;
	left: 20.77px;
	top: 11.05px;
}
.finger {
	position: absolute;
	left: 38.78px;
	bottom: 41.73px;
}
.p4left {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #333333;
	position: absolute;
	right: 15.01px;
	top: 57.45px; 
	width: 350px;
}
.more {
	color: #3D58A6;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	bottom: 14.63px;
	right: 8.99px;
	font-size: 14px;
}
.div4right {
	position: absolute;
	right: 98px;
	bottom: 30.7px;
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
}

/*footer*/

.footerleft {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #333333;
	margin-left: 98px;
	margin-top: 22.04px;
	margin-bottom: 22.01px;
}
.footerright {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #333333;
	margin-right: 85px;
	margin-top: 22.04px;
	margin-bottom: 22.01px;
}